<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une bouteille</title>
</head>
<body>
    <h1>Ajouter une bouteille dans l'étagère</h1>

    <form method="POST" enctype="multipart/form-data">  <!-- Ajout de enctype pour gérer les fichiers -->
        {{ bouteille_form.hidden_tag() }}  <!-- Protection CSRF -->

        <div>
            <label for="domaineViticole">Domaine Viticole :</label>
            {{ bouteille_form.domaineViticole }}
        </div>

        <div>
            <label for="nom">Nom :</label>
            {{ bouteille_form.nom }}
        </div>

        <div>
            <label for="type">Type :</label>
            {{ bouteille_form.type }}
        </div>

        <div>
            <label for="annee">Année :</label>
            {{ bouteille_form.annee }}
        </div>

        <div>
            <label for="region">Région :</label>
            {{ bouteille_form.region }}
        </div>

        <div>
            <label for="prix">Prix :</label>
            {{ bouteille_form.prix }}
        </div>

        <!-- Champ pour télécharger l'image de l'étiquette -->
        <div>
            <label for="photoEtiquette">Photo de l'étiquette :</label>
            {{ bouteille_form.photoEtiquette }}
        </div>

        <div>
            {{ bouteille_form.submit() }}
        </div>
    </form>

    <a href="{{ url_for('lister_bouteilles', etagere_id=etagere_id) }}">
        <button>Retour à la liste des bouteilles</button>
    </a>
</body>
</html>
