<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une étagère</title>
</head>
<body>
    <h1>Ajouter une étagère à la cave</h1>

    <form method="POST">
        {{ etagere_form.hidden_tag() }}  <!-- Protection CSRF -->

        <div>
            <label for="numero_etagere">Numéro de l'étagère:</label>
            {{ etagere_form.numero_etagere }}  <!-- Champ pour le numéro de l'étagère -->
        </div>

        <div>
            <label for="nombre_emplacements">Nombre d'emplacements disponibles:</label>
            {{ etagere_form.nombre_emplacements }}  <!-- Champ pour le nombre d'emplacements disponibles -->
        </div>

        <div>
            {{ etagere_form.submit() }}  <!-- Bouton de soumission -->
        </div>
    </form>

    <a href="{{ url_for('lister_etageres', cave_id=cave_id) }}">
    <button>Retour à la liste des étagères</button>
    </a>

</body>
</html>
