<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Créer une nouvelle cave</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Créer une nouvelle cave</h1>

    <form method="POST">
        {{ cave_form.hidden_tag() }}  <!-- Protection CSRF -->

        <div>
            <label for="nom">Nom de la cave:</label>
            {{ cave_form.nom }}  <!-- Champ pour le nom de la cave -->
        </div>

        <div>
            <label for="nombre_etageres">Nombre d'étagères:</label>
            {{ cave_form.nombre_etageres }}  <!-- Champ pour le nombre d'étagères -->
        </div>

        <div>
            {{ cave_form.submit() }}  <!-- Bouton de soumission -->
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
