<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Étagères</title>
</head>
<body>
    <h1>Liste des Étagères</h1>
    <ul>
        {% for etagere in etageres %}
        <li>
            Numéro d'étagère : {{ etagere.numeroEtagere }} <br>
            Cave ID : {{ etagere.cave_id }}
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Retour à l'accueil</a>
</body>
</html>
