<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bouteilles dans l'étagère</title>
</head>
<body>
    <h1>Bouteilles dans l'étagère</h1>

    {% if bouteilles %}
        <ul>
        {% for bouteille in bouteilles %}
            <li>
                Domaine : {{ bouteille['domaineViticole'] }},
                Nom : {{ bouteille['nom'] }},
                Type : {{ bouteille['type'] }},
                Année : {{ bouteille['annee'] }},
                Région : {{ bouteille['region'] }},
                Prix : {{ bouteille['prix'] }}€
                <form method="POST" action="{{ url_for('supprimer_bouteille', bouteille_id=bouteille['id']) }}" style="display:inline;">
                    <button type="submit">Supprimer</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Aucune bouteille dans cette étagère.</p>
    {% endif %}

    <a href="{{ url_for('ajouter_bouteille', etagere_id=etagere_id) }}">
        <button>Ajouter une bouteille</button>
    </a>

    <a href="{{ url_for('lister_etageres', cave_id=cave_id) }}">
    <button>Retour aux étagères</button>
    </a>

</body>
</html>
