<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste de vos caves</title>
</head>
<body>
    <h1>Vos caves</h1>

    {% if caves %}
        <ul>
        {% for cave in caves %}
            <li>
                <a href="{{ url_for('lister_etageres', cave_id=cave['id']) }}">{{ cave['nom'] }}</a>  <!-- Lien vers les étagères -->
                - Nombre d'étagères : {{ cave['nombreEtagere'] }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Vous n'avez aucune cave.</p>
    {% endif %}

    <a href="{{ url_for('creer_cave') }}">
        <button>Créer une nouvelle cave</button>
    </a>
</body>
</html>
