<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Bouteilles</title>
</head>
<body>
    <h1>Vos Bouteilles</h1>
    <ul>
        {% for bouteille in bouteilles %}
        <li>
            Nom : {{ bouteille.nom }} <br>
            Domaine Viticole : {{ bouteille.domaineViticole }} <br>
            Type : {{ bouteille.type }} <br>
            Année : {{ bouteille.annee }} <br>
            Région : {{ bouteille.region }} <br>
            Prix : {{ bouteille.prix }} € <br>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Retour à l'accueil</a>
</body>
</html>
