<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des caves</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Liste des caves</h1>

    {% if caves %}
        <ul>
        {% for cave in caves %}
            <li>
                <strong>{{ cave['nom'] }}</strong>
                <a href="{{ url_for('lister_etageres', cave_id=cave['id']) }}">Voir les étagères</a>

                <!-- Formulaire pour supprimer la cave -->
                <form method="POST" action="{{ url_for('supprimer_cave', cave_id=cave['id']) }}" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette cave ?');">
                    <button type="submit">Supprimer</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Aucune cave disponible.</p>
    {% endif %}

    <a href="{{ url_for('creer_cave') }}">
        <button>Créer une nouvelle cave</button>
    </a>

</body>
</html>
